.error__page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error__page h1 {
  color: var(--color-error);
}

.error__page button {
  background: var(--color-error);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 2rem 0;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  transition: var(--transition-time);
  font-size: 1rem;
}

.error__page button:hover {
  transform: translateY(-3px);
}