.backdrop {
  width: 100vw;
  height: 100vh;
  background: var(--color-white);
  backdrop-filter: blur(3px);
  display: grid;
  place-items: center;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid var(--color-primary);
  border-radius: 50%;
  border-top-color: var(--color-white);
  animation: spin 1s ease infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}